סעיף 1+2

NAME- Yakir Attias

In [13]:
import pandas as pd
import requests
import json
resp=requests.get("https://datausa.io/api/data?drilldowns=State&measures=Population")
print(resp.ok)
resp.status_code

True

200

סעיף 3

In [14]:
output=resp.json()
new_output=output['data']
new_output

df=pd.DataFrame(new_output)
df

      ID State          State  ID Year  Year  Population     Slug State
0    04000US01        Alabama     2020  2020     4893186        alabama
1    04000US02         Alaska     2020  2020      736990         alaska
2    04000US04        Arizona     2020  2020     7174064        arizona
3    04000US05       Arkansas     2020  2020     3011873       arkansas
4    04000US06     California     2020  2020    39346023     california
..         ...            ...      ...   ...         ...            ...
411  04000US53     Washington     2013  2013     6819579     washington
412  04000US54  West Virginia     2013  2013     1853619  west-virginia
413  04000US55      Wisconsin     2013  2013     5706871      wisconsin
414  04000US56        Wyoming     2013  2013      570134        wyoming
415  04000US72    Puerto Rico     2013  2013     3682966    puerto-rico

[416 rows x 6 columns]

In [15]:
df.dtypes   #ניתן לראות כי העמודה של השנים היא אובייקט ולא נומרית לכן נשנה אותה לנומרית בקטע קוד הבא

ID State      object
State         object
ID Year        int64
Year          object
Population     int64
Slug State    object
dtype: object

In [16]:
df['Year'] = pd.to_numeric(df['Year'], errors='coerce') 

df.dtypes

ID State      object
State         object
ID Year        int64
Year           int64
Population     int64
Slug State    object
dtype: object

סעיף 4

In [17]:
df=df.drop(['ID Year','Slug State'], axis=1)
df

      ID State          State  Year  Population
0    04000US01        Alabama  2020     4893186
1    04000US02         Alaska  2020      736990
2    04000US04        Arizona  2020     7174064
3    04000US05       Arkansas  2020     3011873
4    04000US06     California  2020    39346023
..         ...            ...   ...         ...
411  04000US53     Washington  2013     6819579
412  04000US54  West Virginia  2013     1853619
413  04000US55      Wisconsin  2013     5706871
414  04000US56        Wyoming  2013      570134
415  04000US72    Puerto Rico  2013     3682966

[416 rows x 4 columns]

סעיף 5

In [21]:
df1=df[(df['State']=='Texas') & (df['Year']<=2018)]
df1["Population"].mean()

26755210.333333332

סעיף 6

In [21]:
df2=df[(df['State']=='Washington') & (df['Year']==2015)]
df2['Population']

307    6985464
Name: Population, dtype: int64

סעיף 7

In [22]:
max=df['Population'].max()
df[df['Population']==max]

    ID State       State  Year  Population
4  04000US06  California  2020    39346023

סעיף 8

In [26]:
import scipy.stats
from scipy.stats import pearsonr

Wisconsin_pop=df[df['State']=='Wisconsin']['Population']
New_York_pop=df[df['State']=='New York']['Population']
scipy.stats.pearsonr(Wisconsin_pop, New_York_pop)

PearsonRResult(statistic=0.031415370357376626, pvalue=0.9411349248926103)

סעיף 9

In [24]:
df.drop(df[df['State'].str.contains('Virginia')].index, inplace = True)
df

      ID State        State  Year  Population
0    04000US01      Alabama  2020     4893186
1    04000US02       Alaska  2020      736990
2    04000US04      Arizona  2020     7174064
3    04000US05     Arkansas  2020     3011873
4    04000US06   California  2020    39346023
..         ...          ...   ...         ...
409  04000US50      Vermont  2013      625904
411  04000US53   Washington  2013     6819579
413  04000US55    Wisconsin  2013     5706871
414  04000US56      Wyoming  2013      570134
415  04000US72  Puerto Rico  2013     3682966

[400 rows x 4 columns]

סעיף 10

In [25]:
df=df.assign(hex_Population=df['Population'].apply(hex))
df

      ID State        State  Year  Population hex_Population
0    04000US01      Alabama  2020     4893186       0x4aaa02
1    04000US02       Alaska  2020      736990        0xb3ede
2    04000US04      Arizona  2020     7174064       0x6d77b0
3    04000US05     Arkansas  2020     3011873       0x2df521
4    04000US06   California  2020    39346023      0x2585f67
..         ...          ...   ...         ...            ...
409  04000US50      Vermont  2013      625904        0x98cf0
411  04000US53   Washington  2013     6819579       0x680efb
413  04000US55    Wisconsin  2013     5706871       0x571477
414  04000US56      Wyoming  2013      570134        0x8b316
415  04000US72  Puerto Rico  2013     3682966       0x383296

[400 rows x 5 columns]

סעיף 11

In [26]:
import sqlite3
conn = sqlite3.connect("task1.db")

In [27]:
df.to_sql(name='States',con=conn,if_exists='append')

400

In [28]:
conn.execute("SELECT * FROM States WHERE hex_Population='0x14921c'").fetchall()

[(81, '04000US33', 'New Hampshire', 2019, 1348124, '0x14921c')]